# ignore executable
*
!*.*
!*/
*.a
*.o
*.exe
!Makefile

# ignore vscode folder
.vscode

# ignore txt and output file
*.txt
*.out

# ignore latex files
*.aux
*.log
*.synctex.gz

# test
*test*

#ignore stl files
*.stl
